.favorite-block {
	padding: 0px 0px 40px 0px;
}
.parallax-img{
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-img {
	background-image: url("../img/main/IMG_2828.jpg");
	min-height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-top: 30px;
}

.container-favor {
	position: absolute;
	right: 20%;
	top: 23%;
	margin: 20px;
	max-width: 350px;
	padding: 16px;
	background-color: white;
	border: 1px solid #37581d;
}
@media (max-width: 760px) {
	.bg-img {
		min-height: 480px;
	}
	.container-favor {
		right: 10%;
	}
}
.favorite-block__title {
	position: relative;
	text-align: center;
}
.favorite-block__title:after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 33.33%;
	width: 33.33%;
	height: 1px;
	background-color: #37581d;
}
.favorite-block__sub-title {
	text-align: center;
}
@media (max-width: 598px) {
	.favorite-block {
		padding-bottom: 40px;
	}
	.container-favor {
		top: 25%;
	}
}
