/* ---------------------------------ADVENTEGE---------------------------------------- */
.page__advantage {
}
.advantage {
}
.advantage__container {
}
._container {
}
.advantage__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 5;
	opacity: 0.8;
}
.items-advantage {
}
.item-advantage {
	padding: 20px;
	text-align: center;
	flex: 0 1 25%;
}
.advantage-image {
	max-width: 150px;
	max-height: 150px;
	align-items: stretch;
}
.advantage-image img {
}
.advantage-text {
	font-size: 18px;
	text-transform: capitalize;
	letter-spacing: 0.2;
	font-weight: 600;
	padding: 10px 5px 10px 5px;
	color: #fff;
}
@media (max-width: 1099.98px) {
	.advantage__items {
		margin: -30px 10px 20px 10px;
	}
	.item-advantage {
		padding: 10px;
	}
}
@media (max-width: 767.98px) {
	.advantage-image {
		max-width: 100px;
		max-height: 100px;
	}
}
@media (max-width: 676px) {
	.advantage-text {
		font-size: 16px;
	}
	.item-advantage {
		padding: 5px;
		flex: 1 1 50%;
	}
}
/* ---------------------------------------------------------------- */
.page__what-is-opganic-raw {
	padding: 60px 0px 40px 0px;
}
@media (max-width: 767.98px){
	.page__what-is-opganic-raw {
		padding: 80px 0px 40px 0px;
	}
}
@media (max-width: 676.98px){
	.page__what-is-opganic-raw {
		padding: 40px 0px 40px 0px;
	}
}
.what-is-opganic-raw__container {
	background: url(../img/icon/adventage/001-vegan.png) 100% 100% no-repeat;
}
.what-is-opganic-raw__title {
}
.what-is-opganic-raw__content p {
	margin-bottom: 10px;
}
.what-is-opganic-raw__text {
}
/* --------------------------------------------------------------- */
.page__image {
}
.image-big {
}
.image-big__container {
	padding: 0px 0px 40px 0px;
}
.image-big__body {
}
.image-big__items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.image-big__item {
	flex: 0 1 50%;
	overflow: hidden;
	display: inline-block;
	position: relative;
}
.image-big__item img {
	width: 100%;
	height: auto;
	transition: transform 0.6s ease 0s;
	display: block;
}
.overlay {
	position: absolute;
	bottom: 0;
	color: #f1f1f1;
	width: 100%;
	height: 100%;
	transition: 0.6s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	padding: 20px;
	align-items: center;
	text-align: center;
}
.image-big__item:hover .overlay {
	opacity: 1;
}
.image-big__item img:hover {
	transform: scale(1.2);
}
.chocoberry {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5) url(../img/main/lemon.png) 95% 5% no-repeat;
}
.lime {
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5) url(../img/main/raspberry.png) 5% 5% no-repeat;
}
.image-first {
}
.image-first img {
}
.cakes__content {
	padding-top: 25%;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.cakes-title {
	font-size: 20px;
	padding: 20px 0px;
	letter-spacing: 0.3px;
	text-align: center;
}
.cakes-text {
	font-size: 16px;
	line-height: 170%;
}
@media (max-width: 1120px) {
	.cakes__content {
		padding-top: 15%;
	}
	.cakes-title {
		font-size: 16px;
		padding: 10px 0px;
	}
	.cakes-text {
		font-size: 14px;
		line-height: 170%;
	}
}

@media (max-width: 676px) {
	.image-big__item {
		flex: 0 1 100%;
	}
	.cakes__content {
		padding-top: 25%;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.cakes-title {
		font-size: 20px;
		padding: 20px 0px;
		letter-spacing: 0.3px;
		text-align: center;
	}
	.cakes-text {
		font-size: 16px;
		line-height: 170%;
	}
}
@media (max-width: 550px) {
	.cakes__content {
		padding-top: 15%;
	}
	.cakes-title {
		font-size: 16px;
		padding: 10px 0px;
	}
	.cakes-text {
		font-size: 14px;
		line-height: 170%;
	}
}
@media (max-width: 370px) {
	.cakes__content {
		padding-top: 12%;
	}
	.cakes-text {
		font-weight: 400;
		font-size: 12px;
		line-height: 160%;
	}
}
/* ---------------------------------------------------------------- */
.special-offer {
	padding: 0px 0px 40px 0px;
}
.special-offer__container {
	display: flex;
	gap: 30px;
}
.special-offer__content {
	flex: 0 1 50%;
	align-self: center;
}

.special-offer__title {
	position: relative;
}
.special-offer__title::before {
	content: "";
	background: url(../img/offer/100-percent-natural-products-tag.png) 0 0 / 100% no-repeat;
	width: 120px;
	height: 120px;
	position: absolute;
	top: 390%;
	right: 10%;

	z-index: -1;
}
.special-offer__text {
	max-width: 500px;
}
.block-text {
	padding-bottom: 10px;
}
.taste {
	position: relative;
	margin-left: 15px;
}
.taste::before {
	content: "";
	position: absolute;
	width: 9px;
	height: 9px;
	background-color: #2d530f;
	border: 1px solid #2d530f;
	border-radius: 50%;
	margin-top: 9px;
	margin-left: -14px;
}
.special-offer__actions {
	display: flex;
	flex-wrap: wrap;
}
.special-offer__button {
	padding: 15px 15px;
	font-size: 16px;
	margin: 10px 10px 10px 0px;
	font-weight: 500;
	color: rgb(0, 0, 0);
	letter-spacing: 1px;
}
.btn-pink {
	background: #fadcdca1;
	border: 1px solid #37581d;
}
.btn-pink:hover {
	background: #e4b4b8a6;
	border: 1px solid #37581d;
	transition: all 0, 4s ease 0s;
}
.btn-green {
	background: #cdf3af80;
	border: 1px solid #37581d;
}
.btn-green:hover {
	background: #cee5bc;
	transition: all 0, 4s ease 0s;
}
.special-offer__images {
	flex: 0 1 50%;
}
.images-offer {
	display: flex;
	justify-content: center;
	gap: 5%;
}
.images-offer__column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.images-offer__item {
	overflow: hidden;
	border-radius: 60%/29%;
}
.images-offer__item-1,
.images-offer__item-4 {
	border-radius: 70%/39%;
}
.images-offer__item-2 {
	border-radius: 50% 50% 0 0%;
}
.images-offer__item-3 {
	border-radius: 0 0 50% 50%;
}
.images-offer__item img {
	max-width: 100%;
}
@media (max-width: 906.98px) {
	.special-offer__actions {
	}
}
@media (max-width: 767.98px) {
	.special-offer__container {
		flex-direction: column;
	}
	.special-offer__content {
		align-self: stretch;
	}
}
@media (max-width: 476.98px) {
	.special-offer__button {
		padding: 10px 10px 10px 10px;
		font-size: 16px;
		margin: 5px;
		text-align: center;
		font-weight: 500;
	}
}
/* -------------------------------------------------------------------------- */
.page__questions {
	padding: 0px 0px 40px 0px;
}
.info-questions {
}
.info-questions__container {
}
.parallax-img {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax-img {
	background-image: url(../img/main/01.jpg);
	min-height: 580px;
}
.info-questions__content {
}
.info-questions__image {
}
.info-questions__body {
}
.info-questions__title {
	padding-top: 12%;
	color: #f1f1f1;
	font-size: 34px;
	margin-bottom: 20px;
	line-height: 140%;
}

.info-questions__block {
	padding: 40px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.info-questions__form {
	color: #fff;
}
.info-questions__bottomn {
	color: black;
	padding: 10px 20px;
	width: 500px;
	background-color: #f1f1f1;
	text-align: center;
	border: 1px solid #37581d;
	cursor: pointer;
	justify-content: center;
}
.info-questions__bottomn:hover {
	background-color: #cee5bc;
}

@media (max-width: 867.98px) {
	.info-questions__title {
		padding-top: 15%;
	}
}
@media (max-width: 667.98px) {
	.info-questions__bottomn {
		width: 300px;
	}
	.parallax-img {
		min-height: 380px;
	}
}
@media (max-width: 445.98px) {
	.info-questions__bottomn {
		width: 250px;
	}
	.info-questions__block {
		flex-direction: column;
	}
	.info-questions__bottomn {
		margin-top: 10px;
	}
}
