@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap");
@import "main-page.css";
@import "header.css";
@import "null.css";
@import "simplebar.css";
@import "delivery.css";
@import "shop.css";
@import "about-us.css";
@import "support.css";
@import "blog.css";
@import "footer.css";
@import "time-line.css";
@import "favorite-block.css";
@import "modal-img.css";

.block-title {
	font-size: 34px;
	margin-bottom: 20px;
	color: #27331a;
	line-height: 140%;
}
.block-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 142%;
	letter-spacing: 0.2px;
	color: #000000;
}
.block-text p {
	padding-bottom: 10px;
}
@media (max-width: 697px) {
	.block-text {
		font-size: 16px;
		font-weight: 400;
		line-height: 142%;
		letter-spacing: 0.2px;
		color: #000000;
	}
	.block-title {
		font-size: 28px;
	}
}
@media (max-width: 497px) {
	.block-title {
		font-size: 24px;
	}
	.block-text {
		font-size: 14px;
	}
}
@media (max-width: 350px) {
	.block-title {
		font-size: 20px;
	}
}
/* ------------------------------------------------------------ */
.page__in-catalog {
}
.in-catalog {
}
.in-catalog__container {
	padding: 15px 0px 40px 15px;
}
._container {
}
.in-catalog__body {
	display: flex;
	align-items: center;
}
.catalog-img {
	margin: 10px;
	align-items: center;
}
.in-catalog__title {
	max-width: 667px;
	font-size: 34px;
	color: #27331a;
	line-height: 140%;
}

.button-cat {
	flex: 0 1 50%;
	align-items: center;
	justify-content: space-between;
}
.in-catalog__button {
	flex: 1 1 auto;
	min-height: 58px;
	padding: 0px 20px;
	margin-left: 20%;
	align-items: flex-end;
}
.botton-catalog {
	background: #f3f3f3;
	border: 1px solid #37581d;
	display: flex;
	min-height: 58px;
	width: 80%;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #000000;
	padding: 0px 22px;
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
.botton-catalog:hover {
	background: #cee5bc;
}
@media (max-width: 908px) {
	.in-catalog__button {
		margin-left: 0%;
		width: 100%;
	}
	.button-cat {
		flex: 0 1 80%;
	}
	.in-catalog__title {
		font-size: 28px;
	}
}
@media (max-width: 598px) {
	.in-catalog__body {
		flex-direction: column;
	}
	.botton-catalog {
		min-width: 230px;
	}
	.in-catalog__title {
		text-align: center;
		font-size: 28px;
		margin-bottom: 20px;
	}
}
@media (max-width: 497px) {
	.in-catalog__title {
		font-size: 24px;
	}
	.block-text {
		font-size: 14px;
	}
}
@media (max-width: 350px) {
	.in-catalog__title {
		font-size: 20px;
	}
}
/* ------------------------------------------------------- */
