@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap");
html, body{  
   height: 100%;
   line-height: 1;
   font-size: 16px;
   color: #000000;
   background-color: #cee5bc17;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
}
.body._lock{
	overflow: hidden;
	position: fixed;
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 50px;
}
._container {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
	box-sizing: border-box;
}
._ibg {
	position: relative;
}
._ibg img {
   position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	opacity: 0.7;}

.block-title{
	font-size: 34px;
	margin-bottom: 20px;
	color: #27331a;
	line-height: 140%;
}
.block-text{
	font-size: 18px;
	font-weight: 400;
	line-height: 142%;
	letter-spacing: 0.2px;
	color: #000000;
}
.block-text p{
	padding-bottom: 10px;
}
/* ------------- HEADER -------------- */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color:#cee5bc42;
}
.header__container {
	margin: 0px auto;
	display: flex;
	padding: 0px 30px;
	align-items: center;
	justify-content: space-between;
	max-height: 150px;
}
@media(max-width:1200px){
	.header__container{
		max-height: 115px;
	}
	.header__logo img{
		max-width: 80px;
		max-height: 80px;
	}
}
.header__logo {
	z-index: 5;
	margin-top: -30px;
	padding: 10px;
	
}

.header__logo img{
	max-width: 150px;
	max-height: 150px;
}
.header__menu {
}
.menu {
}
.menu__icon {
	display: none;
}
.menu__body {
}
.menu__list {
}
.menu__list > li {
	position: relative;
	margin: 0px 0px 0px 25px;
}
.menu__link {
	color: #000000;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	transition: color 0.3s ease 0s;
}
.menu__link::after{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 0;
	height: 1px;
	transition: width 0.3s ease 0s;
	background-color: #2d530f;
}
.menu__link:hover{
	color: #2d530f;
}
.menu__link:hover::after{
	width: 100%;
}
.menu__sub-list {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #cee5bc9a;
	padding: 15px;
	min-width: 200px;
	border: 1px solid #37581d;
	text-transform: uppercase;
}
.menu__sub-list li{
	margin: 0px 0px 10px 0px;
}
.menu__sub-list li:last-child{
	margin: 0;
}
.menu__sub-link {
	color: #000;
	cursor: pointer;
	position: relative;
	transition: color 0.3s ease 0s;
}
.menu__sub-link::after{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 0;
	height: 1px;
	transition: width 0.3s ease 0s;
	background-color: #2d530f;
}
.menu__sub-link:hover{
	color: #2d530f;
}
.menu__sub-link:hover::after{
	width: 100%;
}
.menu__arrow{
	display: none;
}
.menu__button{
	display: flex;
}
.translate__container{
	display: flex;
	justify-content: end;
	align-items: flex-end;
	position: relative;
	padding: 10px 30px 0px 0px;
	z-index: 5;
}
.translate {
	background: transparent;
	margin-left: 10px;
}
.translate img{
	width:30px;
	height:20px;
	border: 1px solid #000;
}
.header-item-lang-en {
}
.header-item-lang-sl {
}
.scrolled .header{
	max-height: 120px;
	background-color: rgba(255, 255, 255, 0.779);
}
.scrolled .wrapper{
	height: 30px;
} 
.scrolled .header .header__logo img{
	max-width: 80px;
	max-height: 80px;
	margin-top: 0px;
}
/* -----------------------------------*/
body._pc .menu__list > li:hover .menu__sub-list{
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu__list >li {
	display: flex;
	align-items: center;
}
body._touch .menu__link{
	flex: 1 1 auto;
} 
body._touch .menu__arrow{
	display: block;
	width: 0;
	height: 0;
	margin: 0px 0px 0px 5px;
	transition: transform 0.3 ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #000;
}
body._touch .menu__list > li._active .menu__sub-list {
	opacity: 1;
	visibility: visible; 
	transform: translate(0px 0px);
	pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow{
	transform: rotate(-180deg);
}
/* --------------------------------------------------*/
@media(min-width:1069.98px){
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li{
		padding: 10px 0px;
	}
	.menu__sub-list{
		transform: translate(0px 10%);
		opacity: 0;
		visibility: hidden;
		transition: all 0.4s ease 0.1s;
		pointer-events: none;
	}
}
@media(max-width:1069.98px){
	.header__logo{
		margin-top: -40px;
	}
	.header__logo img{
		max-height: 80px;
		max-width: 80px;
		padding-top: 10px;
	}
	.menu__icon {
	z-index: 5;
	display: block;
	position: relative;
	width: 30px;
	height: 18px;
	cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after{
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #000000;
	}
	.menu__icon::before,
	.menu__icon::after{
		content: "";
	}
	.menu__icon::before{
	top: 0;
	}
	.menu__icon::after{
	bottom: 0;
	}
	.menu__icon span{
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu__icon._active span{
		transform: scale(0) translate(0px, -50%);
	}
	.menu__icon._active::before{
		top: 50%;
		transform:rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active::after{
		bottom: 50%;
		transform:rotate(45deg) translate(0px, 50%);
	}
	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #cee5bcb1;
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body._active{
		left: 0;
	}
	.menu__body::before{
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 90px;
		background-color: #cee5bcbe;
		z-index: 2;
	}
	.menu__list >li {
		margin: 10px 0px 40px 0px;
		flex-wrap: wrap;
	}
	.menu__list > li._active .menu__sub-list{
		display: block;
	}
	.menu__list >li:last-child {
		margin: 0px 0px 0px 0px;
	}
	.menu__link{
		font-size: 24px;
		text-transform: capitalize;
	}
	.menu__sub-list{
		position: relative;
		background-color: #c3e6a9;
		flex: 1 1 100%;
		margin: 20px 0px 10px 0px;
		display: none;
		text-transform: capitalize;
	}
	.menu__sub-link{
		font-size: 20px;
	}
	.menu__link:hover{
		color: #000000;
	}
}
/* ----------------------------------------------------------------- */
.icon__basket {
	position: fixed;
	right:16%;
	bottom: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
}
@media(max-width:1850px){
	.icon__basket {
		right:14%;
	}
}
@media(max-width:1730px){
	.icon__basket {
		right:12%;
	}
}
@media(max-width:1630px){
	.icon__basket {
		right:9%;
	}
}
@media(max-width:1530px){
	.icon__basket {
		right:6%;
	}
}
@media(max-width:1430px){
	.icon__basket {
		right:4%;
	}
}
@media(max-width:1340px){
	.icon__basket {
		right:2%;
	}
}
.icon__basket a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	background-color: #c3e6a9;
	border-radius: 50%;
}

.icon__basket a:hover {
	background-color: rgba(243, 130, 130, 0.514);
	border: 50%;
}
.basket-icon img{
	max-width: 30px;
}

/* ------------------------------------------------------------------- */
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.main-block {
	position: relative;
}
.main-block__container {
}
._container {
}
.main-block__body {
	padding: 250px 0px 30px 0px;
	position: relative;
	z-index: 2;
	max-width: 500px;
}
.main-block__title {
	font-size: 58px;
	line-height: calc(80 / 58 * 100%);
	font-weight: 700;
	letter-spacing: 0.2px;
	text-shadow: 0.5px 0.5px 1px #ffffff;
}
.main-block__text {
	color:#F2404F;
	font-size: 20px;
	line-height: 150%;
	text-shadow: 0.5px 0.5px 1px #ffffff;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
@media(max-width:676px){
	._ibg img {
		opacity: 0.5;
	}
}
@media(max-width:350px){
	.main-block__title {
		font-size: 48px;
	}
	.main-block__text{
		font-size: 16px;
	}
}
/* ---------------------------------ADVENTEGE---------------------------------------- */
.page__advantage {
}
.advantage {
}
.advantage__container {
	
}
._container {
	
}
.advantage__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;	
	position: relative;
	z-index: 5;
	opacity: 0.8;
}
.items-advantage {
	
}
.item-advantage {
	padding: 20px;
	text-align: center;
	flex: 0 1 25%;
}
.advantage-image {
	max-width: 150px;
	max-height: 150px;
	align-items: stretch;
}
.advantage-image img{
}
.advantage-text {
	font-size: 18px;
	text-transform: capitalize;
	letter-spacing: 0.2;
	font-weight: 600;
	padding: 10px 5px 10px 5px;
	color:#fff;
}
@media(max-width:1099.98px){
	.advantage__items{
		margin: -30px 10px 20px 10px;
		
	}
	.item-advantage{
		padding: 10px;
}
}
@media(max-width:767.98px){
	.advantage-image {
		max-width: 100px;
		max-height: 100px;
}
}
@media(max-width:676px){
	.advantage-text {
		font-size: 16px;
	}
	.item-advantage{
		padding: 5px;
		flex: 1 1 50%;
}
}
/* ---------------------------------------------------------------- */
.page__what-is-opganic-raw {
	margin: 40px 0px 60px 0px;
	
}
.what-is-opganic-raw__container {	
	background: url(../img/icon/adventage/001-vegan.png) 100% 100% no-repeat;
}
.what-is-opganic-raw__title {
}
.what-is-opganic-raw__content p{
	margin-bottom: 10px;
}
.what-is-opganic-raw__text{
	
}
/* --------------------------------------------------------------- */
.page__image {
	
}
.image-big {
}
.image-big__container {
	padding: 0px 0px 30px 0px;
}
.image-big__body {
}
.image-big__items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.image-big__item {
	flex: 0 1 50%;
	overflow: hidden;
	display: inline-block;
	position: relative;
}
.image-big__item img{
	width: 100%;
	height: auto;
	transition: transform 0.6s ease 0s;
	display: block;
}
.overlay {
	position: absolute;
	bottom: 0;
	color: #f1f1f1;
	width: 100%;
	height: 100%;
	transition: .6s ease;
	opacity:0;
	color: white;
	font-size: 20px;
	padding: 20px;
	align-items: center;
	text-align: center;
}
.image-big__item:hover .overlay {
	opacity: 1;
}
.image-big__item img:hover{
	transform: scale(1.2);
}
.chocoberry{
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5) url(../img/main/blueberry.png) 95% 5% no-repeat;
}
.lime{
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5) url(../img/main/lemon.png) 5% 5% no-repeat;
}
.image-first{
}
.image-first img{
}
.cakes__text{
	padding: 40px;
	text-align: center;

}
@media(max-width:676px){
	.image-big__item {
		flex: 0 1 100%;
	}
}
/* --------------------PAGE ABOUT-US---------------------------------------- */

.page__about-us-block {
}
.about-us {
	padding: 200px 0px 50px 0px;

}
.about-us__container {
}
._container {
}
.about-us__title{
	padding-bottom: 20px;
	align-items: center;
	text-align: center;
}
.about-us__body {
	display: flex;
	align-items: flex-start;
	position: relative;
	z-index: 2;
}
.about-us__content {
	flex: 1 1 auto;
	padding: 0px 50px 0px 20px;
}
.about-us__text p{
	padding-bottom:10px ;
}

.about-us__img {
	flex: 0 0 30%;
	position: relative;
	padding: 17% 0px 20% 0px;
	
}
.about-us__img img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	max-width: fit-content;
}
.about-us__img:not(:last-child){
	margin: 0px 0px 0px 0px;
}
@media (max-width:1069.98px){
	.about-us__content{
		padding: 0px 20px 0px 20px;
}
	.about-us {
		padding: 120px 0px 50px 0px;
}
}
@media (max-width:992px){
	.about-us {
	padding: 120px 0px 0px 0px;
}
	.about-us__body{
	flex-direction: column-reverse;
	align-items: stretch;
	}
	.about-us__img:not(:last-child){
		margin: 50px 0px 0px 0px;
	}
	.about-us__img{
		padding: 0px 0px 80% 0px;
	}
	.about-us__content{
		padding: 20px 0px 20px 0px;
	}
	}
	@media (max-width: 767px){
		.about-us__title{
			font-size: 28px;
			padding-bottom: 0px;
		}
	}
	@media (max-width: 667px){
		.about-us__title{
			font-size: 24px;
		}
	}
	@media (max-width: 540px){
		.about-us__title{
			font-size: 20px;
		}
	}
	@media (max-width: 467px) {
		.about-us__text {
			font-size: 16px;
		}
	}
	/* ----------------------GRID_IMAGE---------------------------- */
.grid-image {
	text-align: center;
	padding: 32px;
}
.row {
	display: -ms-flexbox; /* IE 10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE 10 */
	flex-wrap: wrap;
	padding: 0 4px;
}
/* Create two equal columns that sits next to each other */
.column {
	-ms-flex: 50%; /* IE 10 */
	flex: 50%;
	padding: 0 4px;
}
.column img {
	margin-top: 8px;
	vertical-align: middle;
}
/* Style the buttons */
.button {
	border: none;
	border-radius: 10%;
	outline: none;
	padding: 10px 16px;
	background-color: #cee5bc;
	cursor: pointer;
	font-size: 18px;
}
.button:hover {
	background-color: #93c66c;
}
.button.active {
	background-color: rgb(85, 145, 58);
	color: white;
}
/* ---------------------------------------------------------------- */
.page__shop {
}
/* --------------------------------------------------------------- */
.shop {
	padding-top: 200px;
}
.shop__container {
}
.shop__header {
padding-bottom: 50px;
}
.shop__tabs {
}
.header-shop {
	display: flex;
	align-items: center;
	text-align: center;
	gap:20px
}
.header-shop__content {
	flex: 1 1 auto;
}
.header-shop__title {
}
.header-shop__title:not(:last-child) {
	margin-bottom: 15px;
}
.header-shop__text {
	font-size: 28px;
	font-weight: 500;
	line-height: 142%;
	letter-spacing: 0.3;
}
.tabs-shop {
}
.tabs-shop__nav {
	display: flex;
	flex-wrap: wrap;
	column-gap: 50px;
	row-gap: 15px;
	justify-content: center;
	margin-bottom: 40px;
}
@media (max-width:1069.98px){
	.shop {
		padding-top: 120px;
	}
}
@media(max-width:767px){
	.tabs-shop__nav{
		column-gap: 25px;
		margin-bottom: 20px;
	}
	.tabs-shop__button{
		font-size: 18px;
	}
}
@media (max-width: 540px){
	.header-shop__title {
		font-size: 28px;
	}
	.header-shop__text{
		font-size: 20px;
	}
}
@media(max-width:290px){
.shop__container {
		padding-left: 5px;
	}
}
.tabs-shop__button {
	background-color: transparent;
	font-size: 22px;
	line-height: 126%;
	text-transform: capitalize;
	cursor: pointer;
	position: relative;
	transition: color 0.3s ease 0s;
}
.tabs-shop__button::after{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 0;
	height: 1px;
	transition: width 0.3s ease 0s;
	background-color: #37581d;
}
.tabs-shop__button:hover{
	color: #37581d;
}
.tabs-shop__button:hover::after{
	width: 100%;
}
.tabs-shop__button.active{
	color: #37581d;
}
.tabs-shop__button.active::after{
	width: 100%;
}
.tabs-shop__body {
}
.tabs-shop__item {
	display: none;
}
.tabs-shop__item.active {
	display: block;
}

.item-tabs {
}
.item-tabs__items {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(270px,1fr));
}
.item-tabs__item {
	position: relative;
}
.item-tabs__options {
	position: absolute;
	right: 14px;
	top: 14px;
	font-size: 14px;
	font-weight: 500;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	align-items: center;
}
.item-tabs__option {
	border-radius: 5px;
	background-color: #f1a8a8ad;
	border: 1.5px solid #F2404F;;
	padding: 10px 10px;
	margin-right: 5px;
	color: #fff;
	transition: background-color 0.3s ease 0s;
}
.image-option{
	padding:5px 7px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.item-tabs__option:hover{
	background-color: #f2404fab;
}
.item-tabs__image {
	position: relative;
	padding-bottom: 80%;
	display: block;
	overflow: hidden;
}
.basket-card{
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
.item-tabs__image:hover .basket-card {
	opacity: 1;
	background-color: #cee5bc8c;
}
.item-tabs__image:hover img{
	transform: scale(1.1);
}
.item-tabs__image img{
	transition: transform 0.3s ease 0s;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/* ---------------------------------------------------------------- */
.item-tabs__content{
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 10px 0px 15px 0px;
}
.item-tabs__title {
	font-size: 20px;
	letter-spacing: 0.2;
	line-height: 142%;
	font-weight: 500;
	color: #000;
}
.item-tabs__prise {
	font-weight: 600;
	font-size: 20px;
	color: #F2404F;
	margin-bottom: 10px;
}
@media(max-width:998.98px){
	.item-tabs__title{
		font-size: 18px;
		margin-bottom: 5px;
	}
	.item-tabs__prise{
		font-size: 16px;
	}
}

/* ----------------------DELIVERY---------------------------------- */
.page__delivery-block {
}
.delivery {
	padding: 200px 0px 50px 0px;
}
.delivery__container {
}
.delivery__body {
}
.delivery__item{
	display: flex;
	align-items: flex-start;
	position: relative;
	z-index: 2;	
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid #477417;
	margin-bottom: 10px;
}
.delivery__content {
	flex: 1 1 auto;
	padding: 0px 20px 0px 20px;
}
.delivery__text {
	padding-bottom: 10px;
}
.delivery__img {
	flex: 0 0 20%;
	position: relative;
	padding: 10% 10%;
	margin: 20px;
	align-items: center;
}
.delivery__img img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	max-width: 300px;
	max-height: 300px;
}
.delivery-title {
	text-transform: capitalize;
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 500;
}
.svg-arrow{
	background: url(../img/delivery/down-arrow.png) top left no-repeat;
	padding-left: 25px;
}
.link-insta{
	color: #2d530f;
	font-size: 25px;
	letter-spacing: 0.2;
}
@media (max-width:1069.98px){
	.delivery {
		padding: 110px 0px 50px 0px;
	}
}
@media (max-width:676px){
	.delivery__item{
		flex-direction: column-reverse;
		align-items: stretch;
	}
	.delivery__img img{
		width: 100px;
		height: 100px;
	}
	.item-rewerse{
		flex-direction: column;
	}
	.delivery__img{
		margin: 20px 0px 20px 20px;
	}
	.delivery__content{
		margin-top: -40px;
	}
	.delivery-title {
		font-size: 18px;
		margin-bottom: 10px;
		font-weight: 500;
	}
}
@media (max-width:376px){
	.delivery__img img{
		width: 75px;
		height: 75px;
	}
	.delivery__content{
		margin-top: 0px;
	}
}


/* --------------------------------------------------------------------- */























/* --------------------------------------------------------------- */
.footer {
	padding: 100px 0px;
	background: url(../img/footer/0128.png) 95% 80% no-repeat;

}
.footer__main {
}
._container {
	
}
.footer__row {
	
}
.footer__items {
}
.items-footer {
}
.items-footer__text {
}























/* ============================================================= */
/* .container {
	position: relative;
	width: 100%;
	max-width: 400px;
}
.image {
	width: 100%;
	height: auto;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
}
.container:hover .overlay {
	opacity: 1;
}
.icon {
	font-size: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
.fa-user:hover {
	color: #eee;
 } */