.page__cook {
	margin-bottom: 60px;
}
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
.timeline::after {
	content: "";
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}
.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}
.container::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #cee5bc;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}
.left {
	left: 0;
}
.right {
	left: 50%;
}
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}
.right::after {
	left: -16px;
}
.content {
	padding: 20px 30px;
	background-color: transparent;
	position: relative;
	border-radius: 6px;
	justify-content: center;
	border: 1px solid #37581d;
	max-width: 500px;
	max-height: 200px;
}
.cook__title {
	text-align: center;
}
.cook__image {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}
.cook__image img {
	max-width: 64px;
	max-height: 64px;
	margin: 0px 10px 0px 10px;
	text-align: center;
	align-items: center;
	object-fit: cover;
}
.cook__text {
	text-align: center;
}
@media (max-width: 800px) {
	.cook__image img {
		max-width: 44px;
		max-height: 44px;
	}
}
@media screen and (max-width: 600px) {
	.page__cook {
		margin-bottom: 40px;
	}
	.timeline::after {
		left: 31px;
	}
	.container {
		width: 100%;
		padding-left: 50px;
		padding-right: 25px;
	}
	.container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}
	.left::after,
	.right::after {
		left: 15px;
	}
	.right {
		left: 0%;
	}
}
@media (max-width: 398px) {
	.page__cook {
		margin-bottom: 40px;
	}
	.cook__image img {
		max-width: 34px;
		max-height: 34px;
	}
}
